services:
  # 스프링 부트 애플리케이션 서비스
  # Spring Boot application service
  app:
    image: sana2d2v/final-be:latest
    container_name: final-be-app
    expose:
      - "8081"
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
    # 서버가 재시작되어도 자동으로 컨테이너가 실행되도록 합니다.
    # Ensures the container restarts automatically if the server reboots.
    restart: always

  # Nginx 서비스
  # Nginx service
  nginx:
    image: nginx:latest
    container_name: final-be-nginx
    ports:
      # 외부 80 포트를 Nginx 컨테이너의 80번 포트로 연결합니다.
      - "8081:80"
    volumes:
      # 내 컴퓨터 최상위 폴더에 있는 nginx라는 파일을, 컨테이너 안의 default.conf라는 파일 위치에 연결해줘
      - ./nginx:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    # 서버가 재시작되어도 자동으로 컨테이너가 실행되도록 합니다.
    # Ensures the container restarts automatically if the server reboots.
    restart: always